{% extends "base.html" %}
{% block content %}
<h2 class="text-xl mb-4">Reset Your Password</h2>
<form method="POST">
    <input type="password" name="password" required placeholder="New Password"
           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}"
           title="Password must be at least 8 characters long and include uppercase, lowercase, number, and special character."
           class="block w-full mb-2 p-2 border rounded" />
  
    <input type="password" name="confirm_password" required placeholder="Confirm New Password"
           class="block w-full mb-4 p-2 border rounded" />
  
    <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded w-full">Reset Password</button>
  </form>
  
{% endblock %}
